:root{
    --primary-text-color:#757575;
    --title-text-color:#212121;;
    --dark-background-text-color:#FFFFFF;
    --accent-color: #2196F3;
    --contacts-footer-text-color: rgba(255, 255, 255, 0.6);
    --btn-active-color:#188CE8;

    --logo-header-color:#000000;
    --logo-footer-color: #FFFFFF;

    --primari-background-color:#FFFFFF;
    --team-background-color: #F5F4FA;
    --dark-background-color:#2F303A;
    --gradient:linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4));
}
