.about{
    background-color:var(--primari-background-color); 
}

.about__list{
    display: flex;
    gap: 30px;
}
.about__item{
    width: calc((100% - 60px) / 3); 
}

.about__images{
    position: relative;
}

.about__text{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark-background-text-color);
    background-color:rgba(47, 48, 58, 0.8);
    
    display: flex;
    align-items: center;
    justify-content: center;
}
