.benefits {
    background-color:var(--primari-background-color);
}

.benefits__list{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}


.benefits__item{
    width: 100%;

    @media screen and (min-width:768px){
        width: calc((100% - 30px) / 2);
    }
    @media screen and (min-width:1200px){
        width: 270px;
    }
}



.benefits__icon{
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(245, 244, 250, 1);
}

.benefits__title{
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-bottom: 10px;

    @media screen and (min-width:768px){
        text-align: left;
    }
}

.benefits__text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--primary-text-color);

    @media screen and (min-width:768px){
        text-align: left;
    }
}
