.footer{
    background-color: var(--dark-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__container{
    display: flex;
    gap: 94px;
    align-items: baseline;
}

.address__item:not(:last-child) {
    margin-bottom: 9px;
}

.address__link{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--contacts-footer-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        color: var(--accent-color);
    }
}

.address__link--white{
    color: var(--dark-background-text-color);
}

.footer__title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark-background-text-color);
    margin-bottom: 20px;
}

.footer-social{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer-social__item{
    width: 44px;
    height: 44px;
}

.footer-social__link{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
        background-color: var(--accent-color); 
    }
}

.footer-social__ikon{
    fill: var(--dark-background-text-color);
}

.subscription{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.subscription__input{
    width: 352px;
    height: 50px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--primary-text-color);
    background-color: transparent;
    font-size: 16px;
    outline: transparent;
} 
.subscription__ikon{
    fill: var(--dark-background-text-color);
}