.hero{
    background-color: #C4C4C4;
    background-image: var(--gradient), url(../images/Image-bg-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    height: 400px;
    margin: 0 auto;
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .box {
            background-image: var(--gradient), url(.../images/Image-bg-mob@2x.jpg);
        }
    }

    @media screen and (min-width:768px){
        background-image: var(--gradient), url(../images/Image-bg-tab.jpg);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .box {
                background-image: var(--gradient), url(../images/Image-bg-tab@2x.jpg);
            }
        }
    }

    @media screen and (min-width:1200px){
        height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: var(--gradient), url(../images/Image-bg-des.jpg);
        max-width: 1600px;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .box {
                background-image: var(--gradient), url(../images/Image-bg-des@2x.jpg);
            }
        }
    }
}

.hero__container{
    padding-left: 0;
    padding-right: 0;
}


.hero__title{
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--dark-background-text-color);

    max-width: 360px;
    margin: 0 auto 30px auto;

    @media screen and (min-width:1200px){
        max-width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
}
